formation-programmation-java/projets/webservices/SoapServer/WebContent/CurrencyConverterService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://soapserver.lteconsulting.fr/" xmlns:tns="http://soapserver.lteconsulting.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="usdToEur" type="tns:usdToEur"/>

  <xs:element name="usdToEurResponse" type="tns:usdToEurResponse"/>

  <xs:complexType name="usdToEur">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="usdToEurResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

